.hero-section {
    height: 100vh;
    max-width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(/imagens/fundo1.png) no-repeat;
    background-size: cover;
    opacity: 0.9;
    padding: 0 20px;
}


.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 5px;
    color: #ffffff;
}


.highlight {
    color: #3abdf5;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 15px auto; 
    max-width: 600px;
    line-height: 1.6;
    opacity: 10;
    
}
.logo-icon {
    width: 42px !important;
    height: 42px !important;
    object-fit: contain;
    display: block;
}






/* BOTOES ANIMADOS */
.btn-tech {
  padding: 12px 28px; border-radius: 50px; border: 1px solid var(--neon-blue);
  background: transparent; color: var(--neon-blue); font-weight: 600;
  cursor: pointer; transition: 0.4s; position: relative; overflow: hidden;
}
.btn-tech:hover {
  background: var(--neon-blue); color: var(--bg-dark);
  box-shadow: 0 0 20px var(--neon-blue); transform: scale(1.05);
}